.tabHeader{
  display: flex;
  justify-content: center;
  background-color: grey;
}

h1{
  padding: 0 50px;
  height: 100%;
}

h1:hover{
  background-color: green;
}

.appBody{
  margin: 0 25%;
  text-align: center;
  background-color: red;
}

